<form class="container">
    <div class="d-flex align-items-center justify-content-center">
    <div class="row col-4">
        <h1>Sign in</h1>

        <h4 id="error" class="text-danger"></h4>
        <!-- Email input -->
        <div class="form-floating mb-4">
            <input type="email" name="login" id="formLogin" class="form-control" placeholder="name@example.com"/>
            <label class="form-label" for="formLogin">Login</label>
        </div>

        <!-- Password input -->
        <div class="form-floating mb-4">
            <input type="password" name="password" id="formPassword" class="form-control" placeholder="password"/>
            <label class="form-label" for="formPassword">Password</label>
        </div>


        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input name="remember" class="form-check-input" type="checkbox" value="" id="formRemember" checked/>
                    <label class="form-check-label" for="formRemember"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" hx-post="/login" hx-target="#error" class="btn btn-primary btn-block mb-4">Sign in
        </button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
        </div>
    </div>
    </div>
</form>
